﻿@model Cumulative1.Models.Teacher
@{
    ViewBag.Title = "Update";
}


<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/Show/@Model.teacherid">Back</a>
    </nav>
    <h2>Update Teacher</h2>
    <form method="POST" action="/Teacher/Update/@Model.teacherid">
        <div class="inputrow">
            <label for="teacherfname">First Name:</label>
            <input type="text" id="teacherfname" name="teacherfname" value="@Model.teacherfname" />

        </div>
        <div class="inputrow">
            <label for="teacherlname">Last Name:</label>
            <input type="text" id="teacherlname" name="teacherlname" value="@Model.teacherlname" />

        </div>
        <div class="inputrow">
            <label for="employeenumber">Employee Number:</label>
            <input type="text" id="employeenumber" name="employeenumber" value="@Model.employeenumber" />
        </div>
        <div class="inputrow">
            <label for="hiredate">Hire Date:</label>
            <div>
                <textarea id="hiredate" name="hiredate">@Model.hiredate</textarea>
            </div>
        </div>
        <div class="inputrow">
            <label for="salary">Salary:</label>
            <div>
                <textarea id="salary" name="salary">@Model.salary</textarea>
            </div>
        </div>
        <div class="inputrow">
            <input type="submit" value="Update Teacher" />
        </div>
    </form>
</div>